.doubt-section-card2 p{
    background-color: aliceblue;
    padding-left:2%
}
.doubt-section-card2{
    margin-top: 1%;
    width: 100%;
    margin-left: 2%;
    height: 100%;
    background-color: aliceblue;
    text-align: left;

}
.doubt-section-card {
    background-color: beige;
    padding-left:2%;
    width: 100%;
    text-align: left
}