.admin-home-outer{
    margin-top: 2%;
    margin-left: 20%;
    width: 50%;
}
.list-group {
    cursor: pointer;
}
.list-group li:hover{
    background-color:lightgrey;
}
.card5{
    width: 50%;
    height: 100%;
    padding: 2%;
    margin-top: 1%;
    margin-left: 10%;
    border-style: solid;
    /* background-color: #6780f1; */
    border-width: -2ch;
    border-color: lightgrey;
    border-radius: 5px;
    box-shadow: 5px 5px 5px  lightgrey;

}
.dropdown{
    padding-bottom: 2%;
}